<script type="text/javascript">
	ShopifyApp.ready(function () {
		ShopifyApp.Bar.initialize({
			buttons: {
				primary: {
					label: 'Save',
					message: 'new_campaign',
					loading: true
				}
			}
		});
	});
</script>


<div class="container">
	
	<div class="col-xs-12">
		
		<legend>
			<h1>New Campaign</h1>
		</legend>
		
		
		<% external_url = MailFunnelConfig.where(name: 'server_url').first.value + 'email_lists' %>
		<% internal_url = root_url + 'new_campaign' %>
		
		
		<% logger.debug "Internal URL: " + internal_url %>
		<% logger.debug "External URL: " + external_url %>
		
		
		<script>
			$(document).ready(function () {
				var csrf_token = $('meta[name=csrf-token]').attr('content');
				var csrf_param = $('meta[name=csrf-param]').attr('content');
			});
		</script>
		
		<form type="POST" action="<%= root_url %>/create_campaign">
			<%= render 'main_interface/campaign_form', campaign: @campaign %>
		</form>
	
	
	</div>
</div>