<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/shopify.png'
            });
        });
    </script>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <h3>MailFunnels <small>Support</small></h3>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <hr class="fade-2"/>


    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Support Link</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p>Need MailFunnels Help? <a class="text-primary" href="https://tonymastonline.freshdesk.com/support/tickets/new" target="_blank">Submit a ticket here.</a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Setting Up Triggers</h2>
            <div class="clearfix"></div>
            <hr class="fade-2"/>
          </div>
          <div class="x_content">

              <div class="col-xs-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
                </div>
              </div>

          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Setting Up Funnels</h2>
            <div class="clearfix"></div>
            <hr class="fade-2"/>
          </div>
          <div class="x_content">

            <div class="col-xs-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>






<% end %>



