

<div class="page-title">
	<div class="title_left">
		<h3>MailFunnels <small>Funnel Builder</small></h3>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">


	<!-- Campaign Selector Partial -->
		<%= render 'campaign_select' %>
	<!-- END Campaign Selector Partial-->


</div>




