<div class="container">

		<!-- Campaign Selector Partial -->
		<div class="col-xs-12">
			<legend>
				<h2>Mail Funnels - Funnel Builder</h2>
			</legend>
			<%= render 'campaign_select' %>
		</div>
		<!-- END Campaign Selector Partial-->
	</div>

</div>

