<% content_for :javascript do %>
    <%= javascript_include_tag 'campaign_funnel_builder_manifest' %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png',
                buttons: {
                    secondary: {
                        label: "Mail-Funnel Home",
                        href: "http://docs.shopify.com/embedded-app-sdk",
                        target: 'new'
                    }
                }
            });
        });
    </script>

    <div class="page-title">
      <div class="title_left">
        <h3>Funnel Editor <small><%= @funnel.attributes['attributes'].name %></small></h3>
      </div>

      <hr/>
      <div class="clearfix"></div>
    </div>


    <div class="row">
      <div class="col-xs-12">

        <div class="row">


          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-3 pull-right">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Info</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <h5><b>Funnel Name: </b> <%= @funnel.attributes['attributes'].name %></h5>
                <h5><b>Description: </b> <%= @funnel.attributes['attributes'].description %></h5>
              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

            <!-- Job Actions Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Job Actions</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <button class="btn btn-primary" id="create_button">New Job</button>
                <button class="btn btn-danger" style="" id="delete_selected_button">Delete Selected Job</button>
                <button class="btn btn-success" style="" id="edit_selected_button">Edit Selected Job</button>
              </div>

            </div>
            <hr>
            <!-- END Job Actions Panel -->

            <!-- Select Campaign Email List Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Change Campaign Email List</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <div class="col-xs-12">

                </div>
              </div>

            </div>
            <!-- END Selest Campaign Email List Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->

          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-9 pull-left">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Editor</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">

              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->


        </div>
      </div>
    </div>

    <!-- REMOVED ALL JS THAT WAS HERE AND PUT IT IN SEPERATE FILE -->
<% end %>