<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png'
            });
            function goBack() {
                window.history.back();
            }
        });
    </script>

    <%= javascript_include_tag 'pages/editemailtemplate.js' %>
    <%= stylesheet_link_tag 'EmailTemplate/editEmail.css' %>


    <div class="row">

      <!--Start EmailEdit div-->
      <div class="col-xs-6">

        <div class="form-style-5">
          <form>
            <fieldset>

              <legend> Edit Email</legend>
              <input id="emailTitleInput" type="text" name="field1" placeholder="Email Title">
              <textarea id="emailContentInput" name="field2" placeholder="Email Content"></textarea>


              <select id="button_select">
                <option value="0">No</option>
                <option value="1">Yes</option>

              </select>

              <div id="emailViewButtonFields" class="hidden">
              <input id="buttonTextInput" type="text" name="field3" placeholder="Button Text">
              <input id="buttonUrlInput" type="text" name="field4" placeholder="Button Url">
              </div>
            </fieldset>

            <input id="email_list_submit_button" type="submit" value="Save" />
          </form>
        </div>

      </div>

      <div class="col-xs-6">
        <div class="emailcontent">

          <table class="body-wrap">
            <tr>
              <td class="container">


                <table>
                  <tr>
                    <td align="center" class="masthead">

                      <h1 id="printEmailTitle"></h1>

                    </td>
                  </tr>
                  <tr>
                    <td class="content">

                      <h2>Hi Customer,</h2>

                      <p id="printEmailContent"></p>



                      <table>
                        <tr>
                          <td align="center">
                            <p>
                              <a href="#" class="button " id="printButtonText"></a>
                            </p>
                          </td>
                        </tr>
                      </table>


                    </td>
                  </tr>
                </table>
              </td>
            </tr>



              </td>
            </tr>
            <tr>
              <td class="container">


                <!--Need to include unsubscribe link-->
                <table>
                  <tr>
                    <td class="content footer" align="center">
                      <p><a href= "#">Unsubscribe</a></p>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>

        </div>

      </div>





    </div>


    </div>
    </div>







<% end %>