
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top: -50px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* --- Horizontal Rules --- */
hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.fade-2 {
    border-width: 0 0 1px;
    color: skyblue;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), skyblue 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
    border-style: solid;
}


.mf_divider {
    border-width: 0 0 1px;
    color: #f5f7fa;
    border-style: solid;
    margin-top: 0px !important;
    padding: 0px !important;
}

/* --- Text Overflow --- */

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.mf_btn_btm_panel {

    bottom: 0;

}



.mf_select_btn-primary {
    font-family: 'Avenir Next', sans-serif !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 17px;
    border: 1px solid #3498db;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear;
    transition: color 0.2s linear, background-color 0.2s linear;
    color: #3498db;

}