
/* --- MARGIN HELPERS --- */

.m-0 {
    margin: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-0 {
    margin-left: 0;
}

.m-l-5 {
    margin-left: 5px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-5 {
    margin-bottom: 5px;
}


/* --- SECTION HEADERS --- */
.mf_section_header {
    font-size: 16px;
    color: #3498db;
    border-bottom: 1px solid #e0e3e5;
}


/* --- VERTICAL ALIGN MODALS --- */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top: -50px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* --- Horizontal Rules --- */
hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.fade-2 {
    border-width: 0 0 1px;
    color: skyblue;
    border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), skyblue 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
    border-style: solid;
}


.mf_divider {
    border-width: 0 0 1px;
    color: #f5f7fa;
    border-style: solid;
    margin-top: 0px !important;
    padding: 0px !important;
}

/* --- PANEL HELPER STYLES --- */

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mf_btn_btm_panel {

    bottom: 0;

}


/* --- MAILFUNNELS BUTTON CSS --- */
.mf_select_btn-primary {
    font-family: 'Avenir Next', sans-serif !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 17px;
    border: 1px solid #3498db;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear;
    transition: color 0.2s linear, background-color 0.2s linear;
    color: #3498db;

}

/* --- EMAIL TEMPLATE CSS --- */
.mf_em_footer_power_by {
    font-size: 12px !important;
    font-weight: 600;
}

.mf_em_footer_unsub {
    font-size: 12px;
}


.mf_error {
    font-size: 75px;
    line-height: 90px;
    margin: 20px 0;
    color: #3498db;
}


/*  MAILFUNNELS CHECKBOX OPTIONS */
label {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 20px;
}
input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}
input[type="checkbox"] + span {
    float: left;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 14.5px;
    background-color: #ffffff;
    border: 1px solid #009ED8;
    overflow: hidden;
    border-radius: 4px;
}


input[type="checkbox"]:checked + span {
    float: left;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 14.5px;
    background-color: #009ED8;
    border: 1px solid #009ED8;
    overflow: hidden;
    border-radius: 4px;
}

input[type="checkbox"] + span:before {
    position: absolute;
    bottom: 6px;
    left: -8.5px;
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    background-color: #009ED8;
    transform: scale(0.5) rotate(45deg);
    opacity: 0;
    transition: all 0.3s ease-in;
}
input[type="checkbox"].error + span {
    background-color: #FE5F55;
}
input[type="checkbox"].wrap + span {
    margin-bottom: 15px;
}
input[type="checkbox"]:checked + span:before {
    position: absolute;
    bottom: 11.33333333px;
    left: -8.5px;
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    background-color: #009ED8;
    transform: scale(1) rotate(45deg);
    opacity: 1;
    border-radius: 2px;
}
